<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
  
   <div class="container">
    <div class="header">
    <a href="#default" class="logo">Varshini Prasanna</a>
    <div class="header-right">
      <a  href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#news">News</a>
      <a href="#skills">Skills</a>
      <a href="#contact">Contact</a>
    </div>
    </div>
    <section id="default"><app-default></app-default></section>
    <section id="about"><app-home></app-home></section>
    <section id="projects"><app-projects></app-projects></section>
    <section id="news"><app-news></app-news></section>
    <section id="skills"><app-skills></app-skills></section>
    <section id="contact"><app-contact></app-contact></section>
  </div>
  
  </body>
  </html>