<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <br><br>

    <p><b>I bring extensive experience and a diverse skill set essential for success.</b></p>

    <div class="grid-container">
        <div class="image-container">
            <img [src]="java" alt="Java">
            <div class="hover-text">Java: Advanced</div>
        </div>
        <div class="image-container">
            <img [src]="python" alt="Python">
            <div class="hover-text">Python: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="angular" alt="Angular">
            <div class="hover-text">Angular: Beginner</div>
        </div>  
        <div class="image-container">
            <img [src]="ts" alt="Typescript">
            <div class="hover-text">Typescript: Beginner</div>
        </div>
        <div class="image-container">
            <img [src]="cpp" alt="C++">
            <div class="hover-text">C++: Advanced</div>
        </div>
        <div class="image-container">
            <img [src]="js" alt="JavaScript">
            <div class="hover-text">JavaScript: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="css" alt="CSS">
            <div class="hover-text">CSS: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="sql" alt="SQL">
            <div class="hover-text">SQL: Advanced</div>
        </div>
        <div class="image-container">
            <img [src]="mongodb" alt="MongoDB">
            <div class="hover-text">MongoDB: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="git" alt="Git">
            <div class="hover-text">Git: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="github" alt="GitHub">
            <div class="hover-text">GitHub: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="jira" alt="JIRA">
            <div class="hover-text">JIRA: Beginner</div>
        </div>
        <div class="image-container">
            <img [src]="postman" alt="Postman">
            <div class="hover-text">Postman: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="azure" alt="Azure">
            <div class="hover-text">Azure: Beginner</div>
        </div>
        <div class="image-container">
            <img [src]="aws" alt="AWS">
            <div class="hover-text">AWS: Beginner</div>
        </div>
        <div class="image-container">
            <img [src]="cybersecurity" alt="Cybersecurity">
            <div class="hover-text">Cybersecurity: Beginner</div>
        </div>
        <div class="image-container">
            <img [src]="sdlc" alt="SDLC">
            <div class="hover-text">SDLC: Intermediate</div>
        </div>
        <div class="image-container">
            <img [src]="osdu" alt="OSDU">
            <div class="hover-text">OSDU: Advanced</div>
        </div>
    </div>

</body>
</html>
